body{
	margin-top: 20px;
	margin-right: 215px;
	margin-bottom: 150px;
	margin-left: 215px;

}

hr{
margin-top: 100px; 
border-top: solid 1px  #000000;
 border-bottom:
}

#logo{
	margin-top: 50px;
	margin-left: 372px;
}